/*default css valiables in root*/
:root{
  --heading-font-family:"Playfair Display SC", serif;
  --default-font-family:"Poppins", sans-serif;
  --button-color:#6C63FF;
  --background-color: #F9F7FE;
}
/*2nd half of home page*/
  p{

    font-size: 16px;
    font-weight: normal;
    line-height: 30px;

  }
  .project-description h2{
    font-weight: 700;

  }
  /*paragraph elaborating the project.
  Padding added to enable equal size of column
   on the right with image and on the left*/

  .project-description{

    padding: 120px 60px;
  }

/* Top portion div */
.hero{

  background-color: var(--background-color);
  text-align: center;
  padding: 160px 20px;

}
/*default headings font family*/
h1,
h2,
h3,
h4,
h5,
h6{

  font-family: var(--heading-font-family);
}

.hero h1 {
  font-size: 96px;
  font-weight: 700;
  font-style: normal;
}
.hero p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}
.hero h3 {
  font-size: 36px;
}

/*button css variables*/

.get-started-btn {
  border-radius:4px;
  font-size: 18px;
  display:block;
  margin:0 auto;
  padding:20px 40px;
  background-color:var(--button-color);
  color: white;
}


.projects-btn {
    border-radius:4px;
    font-size: 18px;
    display:block;
    margin:0 auto;
   padding:20px 40px;
    color:var(--button-color);
    background-color: white;
}
/*Aboutma and work generic page CSS classes container*/

.content-container {
  background-color: var(--background-color);
  text-align: center;
  padding: 160px 20px;
}
 .content-container h1{
  font-size: 64px;
  line-height:80px;
 }
 .content-container h2{
  font-size: 18px;
  font-family:var(--default-font-family);
 }

  
/* Below changes the padding and the text alignment of the parragraph
 with the project  description class in a mobile device*/
@media (max-width: 960px){
  .project-description{
    padding: 0px;
    text-align: center;
  }
  .content-container{
    padding:0px;
    text-align: center;
  }

  h2{
    font-size:30px;
  }
  .hero h1{
    font-size: 44px;
  }
  .hero h3 {
    font-size: 24px;
  }
}